.itemnew img {
  height: 330px;
  object-fit: cover;
  object-position: top;
  transition: all ease 0.3s;
}

.item-image {
  /* z-index: -1; */
}

.itemnew:hover img {
  transform: scale(1.05);
}

.product-title {
  color: var(--black);
}

.item-price-new {
  color: var(--black);
  font-size: 18px;
}

.item-price-old {
  color: var(--black-75);
  font-size: 16px;
}

@media (max-width: 576px) {
  .product-title {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* For browsers */
    line-clamp: 1; /* For VS Code to avoid warnings */
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  .itemnew .best-seller-tag{
    font-size: 10px;
    padding: 6px 4px;
    writing-mode: vertical-rl;
    top: 0;
    left: 0;
  }

  .itemnew:hover img{
    transform: unset;
  }

}
