{{> header}}

<p>Dear <strong>{{name}}</strong>,</p>

<p>Thank you for applying for a position with us. We have received your application and will review it soon.</p>

<p>If your profile matches our requirements, we will contact you for further steps.</p>

<p>Best Regards,</p>
<p><strong>GIPL</strong></p>

{{> footer}}