.all-blog-section .blog-title {
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: var(--text-primary);
}

@media (max-width: 768px) {
	.blog-page .custom-blog-card .blog-image{
		height: 170px;
	}
}