<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      color: #333;
    }

    h2 {
      color: #007BFF;
    }
  </style>
</head>

<body>
  <h2>GIPL</h2>
  <hr>